body {
  font-size: 13px;
}

a {
  color: #085eb9;
  text-decoration: none;

  &:hover, &:focus {
    color: #053970;
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;

  &-default {
    $dtnDefaultColor: #085eb9;
    border: 1px solid $dtnDefaultColor;
    background: #fff;
    color: $dtnDefaultColor;
  }
}