body {
  font-size: 13px;
}

.container {
  max-width: 900px;
}

a {
  color: #085eb9;
  text-decoration: none;

  &:hover, &:focus {
    color: #053970;
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;

  &-default {
    $dtnDefaultColor: #085eb9;
    border: 1px solid $dtnDefaultColor;
    background: #fff;
    color: $dtnDefaultColor;
  }
}

.block-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.block-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block-md {
  margin-top: 15px;
  margin-bottom: 15px;
}

.rating {
  width: 90px;
  height: 17px;
  background: url(http://css.bbystatic.com/sc-stars/images/small-yellow-bfa7e2310afa60bf446f1413b655eb60.png) repeat-x;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border-radius: 0;
  line-height: 1;

  &-yellow {
    background-position: 0 -17px;
    margin: 0;
  }

  &-score {
    color: #085eb9;
  }
}

i.fa {
  font-size: 20px;
}