<div class="block-md">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." ng-model="query">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="row block-xs">
        <div class="col-sm-7 col-sm-offset-2">
            <strong>Sort by: </strong>
            <a href="" ng-click="sort('price')">price
                <i class="glyphicon" ng-class="{'glyphicon-chevron-up': isSortUp('price'),
                              'glyphicon-chevron-down': isSortDown('price')}"></i>
            </a> |
            <a href="" ng-click="sort('name')">name
                <i class="glyphicon" ng-class="{'glyphicon-chevron-up': isSortUp('name'),
                              'glyphicon-chevron-down': isSortDown('name')}"></i>
            </a>
        </div>
    </div>
</div>

<div class="watches-list">
    <div ng-repeat="watch in watches | filter:query | orderBy:orderField:orderReverse">
        <div class="row watches-item">
            <div class="col-xs-2">
                <img ng-src="{{watch.pictureUrls[0]}}"/>
            </div>
            <div class="col-xs-10 col-sm-7">
                <h4>
                    <a href="#/watch/{{watch.id}}">{{watch.name}}</a>
                </h4>
                <div class="watches-item-model">
                    <strong>Model: </strong>{{watch.model}}
                </div>
                <a href="#/watch/{{watch.id}}">
                    <div class="btn btn-default btn-sm">See more colors</div>
                </a>
                <div class="watches-item-desc">
                    {{watch.desc}}
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-3 col-sm-offset-0">
                <a href="#">
                    <div class="btn btn-primary btn-sm btn-block">
                        <strong>
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                        </strong>
                    </div>
                </a>
                <div class="watches-item-price text-center block-sm">${{watch.price}}</div>
            </div>
        </div>
        <hr/>
    </div>
</div>